__pycache__/
*.pyc
*.egg-info/
.photons-interactor/
.tox/
./dist/
interactor.yml
interactor.db
assets/
photons_interactor/static/node_modules/
photons_interactor/static/cypress/videos/
pip-wheel-metadata/
docker/.harpoon
dist/
build/
